<mat-card>
    <mat-card-title>
        
        <h2 class="FormTitle"> <mat-icon>person_add</mat-icon> Create Contact Form </h2>
    </mat-card-title>

    <mat-card-content>
        <div class="Form_Container">
            <form class="Contact_Form" [formGroup]="ContactForm" (ngSubmit)="saveContact()">
                <mat-form-field appearance="outline">
                    <mat-label>Name (Job-Title)</mat-label>
                    <input matInput formControlName="name" placeholder="e.g. Full Name">
                    <mat-icon matSuffix>account_circle</mat-icon>

                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Company Name </mat-label>
                    <input matInput formControlName="company" placeholder="e.g. Company Name" />
                    <mat-icon matSuffix>account_balance</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone"  placeholder="e.g. Phone" />
                    <mat-icon matSuffix>contact_phone</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address" placeholder="e.g. Office Address" />
                    <mat-icon matSuffix>location_on</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">

                    <mat-label>Email </mat-label>
                    
                    <input matInput formControlName="email" placeholder="e.g. Email" />
                    <mat-icon matSuffix>contact_mail</mat-icon>
                </mat-form-field>


                <mat-form-field appearance="outline">
                    <mat-label>Last Date Contact</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="lastDateContact">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>




                <div class="button_container_left">
                    <button mat-raised-button color="primary" type="submit" class="SumbitButton"
                        [disabled]="ContactForm.invalid">
                        Save Contact
                    </button>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>